.venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/

data/raw/*
data/processed/*
artifacts/*
logs/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!artifacts/.gitkeep
!logs/.gitkeep

.DS_Store
.idea/
.vscode/
./pytest_cache/

